<?xml version="1.0"?>
<config>
    <modules>
        <Smart_Assignment>
            <version>0.1.4</version>
        </Smart_Assignment>
    </modules>
    <frontend>
        <routers>
            <assignment>
                <use>standard</use>
                <args>
                    <module>Smart_Assignment</module>
                    <frontName>assignment</frontName>
                </args>
            </assignment>
        </routers>
        <layout>
            <updates>
                <assignment>
                    <file>assignment.xml</file>
                </assignment>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <smart_assignment>
                <class>Smart_Assignment_Model</class>
                <resourceModel>smart_assignment_resource</resourceModel>
            </smart_assignment>
            <smart_assignment_resource>
                <class>Smart_Assignment_Model_Resource</class>
                <entities>
                    <data>
                        <table>vendors</table>
                    </data>
                </entities>
            </smart_assignment_resource>
        </models>
        <blocks>
            <smart_assignment>
                <class>Smart_Assignment_Block</class>
            </smart_assignment>
        </blocks>
        <helpers>
            <smart_assignment>
                <class>Smart_Assignment_Helper</class>
            </smart_assignment>
        </helpers>
        <resources>
            <smart_assignment_setup>
                <setup>
                    <module>Smart_Assignment</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </smart_assignment_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Smart_Assignment before="Mage_Adminhtml">Smart_Assignment_Adminhtml</Smart_Assignment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <smart_assignment>
                    <file>assignment_admin.xml</file>
                </smart_assignment>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <vendor/>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>